.item {
	margin: 1rem 0;
}

.image {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	height: 20rem;

	/* height: auto; */
	margin-left: auto;
	margin-right: auto;
	max-width: 70%;
	overflow: hidden;
}

.image img {
	object-fit: scale-down;
	width: 100%;
}

.content {
	padding: 1rem;
	text-align: center;
}

.content h3 {
	color: #2c292b;
	font-size: 1.25rem;
}

.actions {
	padding: 1.5rem;
	text-align: center;
}

.actions button {
	background-color: transparent;
	border: 1px solid #77002e;
	border-radius: 4px;
	color: #77002e;
	cursor: pointer;
	font: inherit;
	padding: 0.5rem 1.5rem;
}

.actions button:hover,
.actions button:active {
	background-color: #ffe2ed;
}
